body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #65cfc484;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos del formulario */
.form-container {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: rgba(128, 128, 128, 0.788);
}
::placeholder{
    color: rgba(0, 0, 0, 0.659);
}