.titulo{
    font-size: 5em;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: beige;
    background-color: rgba(3, 36, 16, 0.605);
}
p{
    text-align: center;
    color: black; 
    font-size: 1.5em;
    margin-bottom: 2em;
    font-style: normal;
    margin-bottom: 2em;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.imagen{
    text-align: center;
    border-radius: 50%;
    width: 100%;
    height: auto;

}
.practica{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(236, 236, 62, 0.648);
    width: 30%;
    height: 30%;
    margin: .3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hobie{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(236, 236, 62, 0.648);
    width: 30%;
    height: 30%;
    margin: .3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.cualidad{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(236, 236, 62, 0.648);
    width: 30%;
    height: 20%;
    margin: .3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ordenar{
    display: flex;
    justify-content: space-between;
    margin: .1em;
}
.horario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(51, 24, 207);
    background-color:  rgba(3, 36, 16, 0.605);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color:rgba(231, 109, 229, 0.534) ;

}
.link h2{
    color:white;
    margin: .5em;
}
.border{
    text-align: center;
    border-radius: 50%;
    width: 20%;
    height: none;
}
td{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(127, 31, 136, 0.349);
}
th{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(196, 120, 28, 0.503);
    width: 20em;
}



/*media query para pantallas menores a 768px*/
@media(width<=768px){
    .ordenar{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    
    }
    .border{
        text-align: center;
        border-radius: 50%;
        width: 50%;
        height: none;
    }