border-style: solid;
}
.boton{
    width: 95%;
    padding: .9em;
    margin: 1%;
    background-color: #4cb2c9;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.botonera{
    display: flex;
    width: 95%;
}

/*media query para pantallas menores a 768px*/
@media(width<=768px){
    .botonera{
        flex-direction: column;
    }  
    .titulo{
        font-size: 3em;
    }  
    .subtitulo{
        font-size: 1.5em;
    }
}

